<nav>
  <ul>
    <li><a href="">This is a thing</a></li>
    <li><a href="">This is a thing</a></li>
    <li><a href="">This is a thing</a></li>

    <li id="loginBtn"><a href="/login">Login</a></li>
    <li id="logoutBtn"><a>Log Out</a></li>
  </ul>
</nav>