<nav>
  <ul>
    <li><a href="">This is a thing</a></li>
    <li><a href="">This is a thing</a></li>
    <li><a href="">This is a thing</a></li>

    <li id="accountBtn"><a href="/login">Login</a></li>
  </ul>
</nav>